[submodule "luci-app-cpu-status"]
	path = applications/luci-app-cpu-status
	url = https://github.com/gSpotx2f/luci-app-cpu-status.git
[submodule "luci-app-temp-status"]
	path = applications/luci-app-temp-status
	url = https://github.com/gSpotx2f/luci-app-temp-status.git
[submodule "luci-app-disks-info"]
	path = applications/luci-app-disks-info
	url = https://github.com/gSpotx2f/luci-app-disks-info.git
[submodule "luci-app-diskman"]
	path = applications/luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman.git
[submodule "luci-app-netdata"]
	path = applications/luci-app-netdata
	url = https://github.com/sirpdboy/luci-app-netdata.git
[submodule "luci-app-zerotier"]
	path = applications/luci-app-zerotier
	url = https://github.com/vpei/luci-app-zerotier.git
[submodule "luci-theme-argon"]
	path = applications/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "openwrt-cloudflared"]
	path = utilities/openwrt-cloudflared
	url = https://github.com/yichya/openwrt-cloudflared.git
